.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.box1, .box5 {
    background-color: green;
    width: 12rem;
    height: 9rem;
    font-size: 3rem;
}

.box2, .box4 {
    background-color: blue;
    width: 17rem;
    height: 11rem;
    font-size: 4rem;
}

.box3 {
    background-color: #384a5c;
    width: 24rem;
    height: 14rem;
    font-size: 6rem;
}

/* background color box */
.box1 {
    background-color: #1ecc6b;
}

.box2 {
    background-color: #2c9ad7;
}

.box4 {
    background-color: #9d55b9;
}

.box5 {
    background-color: #ea7d04;
}